.left {
  height: 50vw;
  width: 100%;
  flex: 1;
}
.right {
  position: absolute;
  right: 0px;
  height: 100vh;
  width: 50vw;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
.content {
  font-size: 50px;
}
.backButton {
  position: absolute;
  left: 20px;
  top: 20px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 0;
  overflow: hidden;
  font-size: 30px;
  color: white;
}
.backButton:hover {
  background-color: rgb(47, 105, 119);
}

.content {
  top: -1 00%;
}
