/* .visible {
  visibility: visible;
  margin-top: 0px;
} */
.sorts {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sortIcons {
  height: 30px;
}
.sortIconS {
  filter: invert(1);
}
.projectSvg {
  width: 100%;
  margin-top: 10px;
  height: 80px;
}

.projectSlider {
  position: relative;
  min-height: 300px;
  width: 100%;
  display: flex;
}
.cardContainner {
  position: relative;
  width: 100%;
  min-height: 300px;
  height: 400px;
  display: flex;
  overflow: hidden;
  overflow-y: visible;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.5s;
  border-radius: 30px;
  border: 4px solid transparent;
  transition: 0.5s;
  background-color: rgb(116, 116, 116);
}
.selectedCard {
  height: 300px;
  overflow: visible;
  width: 300px;
  border-style: solid;
  border-width: 4px;
  border-color: white;
}
.sliderImg {
  position: absolute;
  transform-origin: center;
  height: 100%;
  width: 100%;
  transition: 1s;
}

.selectedCard .sliderImg {
  height: 100px;
  width: 100px;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  border-radius: 50%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.414);
  z-index: 1;
}
.cardDesc {
  opacity: 0;
}
.selectedCard .cardDesc {
  opacity: 1;
  display: flex;
  font-size: 14px;
  width: 100%;
  background-color: rgb(15, 109, 99);
  border-radius: 30px;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.2s;
  z-index: 0;
}
.cardDesc .cardTitle {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 10px;

  color: white;
  transition: 0.5s;
}
.cardDesc .cardDetails {
  /* margin-top: 10px; */
  display: -webkit-box;

  margin-bottom: 10px;
  text-align: center;
  color: rgb(203, 203, 203);
  transition: 0.5s;
  max-height: 40%;
  width: 80%;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cardDesc .cardButton {
  height: 30px;
  width: 100px;
  color: white;
  transition: 0.5s;
}
.cardDesc .cardButton:hover {
  transform: translateX(20px);
  transition: 0.2s;
  cursor: pointer;
  height: 40px;
}

.hide {
  /* margin-left: 100px; */
  margin-top: 50px;
  transition: 0.5s;
  opacity: 0;
}

/* slider building css */
.fakeCard {
  position: relative;
  border-radius: 30px;
  width: 300px;
  height: 200px;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.slideFade {
  position: absolute;
  height: 100%;
  width: 20%;
  top: 0px;
  /* background-color: antiquewhite; */
}
.fadeLeft {
  left: 0px;
  background: rgb(24, 44, 62);
  background: linear-gradient(
    90deg,
    rgba(24, 44, 62, 1) 0%,
    rgba(24, 44, 62, 0.6080182072829132) 46%,
    rgba(24, 44, 62, 0) 100%
  );
}
.fadeRight {
  right: 0px;
  background: rgb(24, 44, 62);
  background: linear-gradient(
    270deg,
    rgba(24, 44, 62, 1) 0%,
    rgba(24, 44, 62, 0.6080182072829132) 46%,
    rgba(24, 44, 62, 0) 100%
  );
}
.sButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
}
.bright {
  right: 0px;
}
.bleft {
  left: 0px;
}

/* -------------------- VERTICAL BARS */
.v_containner {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  overflow: scroll;
  max-height: 70%;
  overflow-x: hidden;
}
.v_bar {
  min-height: 100px;
  width: 98%;
  background-color: rgb(15, 109, 99);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s;
  margin-top: 50px;
  opacity: 0;
}
.v_img {
  height: 100px;
  width: 100px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  transition: 0.2s;
}
.v_bar:hover .v_img {
  height: 110px;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.252);
  transition: 0.2s;
}

.v_button {
  color: aliceblue;
  height: 40px;
  transition: 0.2s;
  width: 70px;
  margin-left: 10px;
  margin-right: 10px;
}
.v_button:hover {
  height: 50px;
}
.v_title {
  font-size: 18px;
  color: white;
  font-family: sans-serif;
  transition: 0.5s;
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
}
.v_desc {
  display: -webkit-box;
  transition: 0.2s;
  width: 50%;
  height: 100%;
  font-size: 14px;
  height: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  padding-left: 10px;
  opacity: 0;
  color: rgb(215, 215, 215);
  flex: 3;
}

.v_bar:hover .v_desc {
  border-color: rgb(247, 247, 247);
  border-left-style: solid;
  transition: 0.2s;
  opacity: 1;
}

/* TRANSITION================================================= */

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9e9e9e;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
