.projectHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
  font-size: 20px;
}

.blob {
  position: absolute;
  opacity: 0.5;
  scale: 2;
}
.exitButton {
  position: fixed;
  margin-right: 20px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 5px 10px;
}
.projectTitle {
  position: relative;
  margin-top: 150px;
  font-size: 30px;
  margin-left: 20px;
  font-weight: bold;
}
.projectIntro {
  position: relative;
  font-size: 16px;
  color: gray;
  margin: 20px;
  margin-right: 50px;
  text-align: start;
  line-height: 25px;
}
.projectLinks {
  position: relative;
  font-size: 16px;
  display: flex;
  width: 100%;
  margin-top: 30px;
}
.projectHelpers {
  border-left-style: solid;
  border-color: rgb(204, 204, 204);
  margin-left: 20px;
  flex: 3;
  padding: 10px;
  flex-wrap: wrap;
}
.projectSources {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectSource {
  margin: 10px;
  margin-left: 20px;
  border-radius: 30px;
  background-color: #cef0ff;
  color: black;
  box-shadow: rgba(48, 48, 48, 0.151) 0px 5px 10px;
  padding: 10px;
  width: fit-content;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.projectHelper {
  height: 50px;
  margin: 10px;
}

/* /////////////project media  */
.projectMedia {
  height: 200px;
  width: 150px;
  object-fit: cover;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  box-shadow: rgb(211, 211, 211) 0px 5px 10px;
  border-width: 10px;
  transition: 0.5s;
  cursor: pointer;
  border-bottom-width: 25px;
}
.projectMedia:hover {
  scale: 1.2;
  transition: 0.5s;
  z-index: 1;
}
.media {
  margin: 20px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.projectDetails {
  position: relative;
  font-size: 16px;
  margin: 20px;
  margin-right: 50px;
  color: gray;
  text-align: justify;
  line-height: 25px;
}
/* .projectPage {
  margin-top: 200px;
  opacity: 0;
} */
